@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=ABeeZee&family=Anonymous+Pro:wght@700&family=Inter+Tight:wght@400;700&family=Karla&family=Play:wght@400;700&family=Russo+One&family=Unbounded:wght@200&display=swap");
.none {
  display: none !important;
}

body {
  background: var(--tg-theme-bg-color);
}
.center {
  text-align: right;
  -moz-text-align-last: center !important;
       text-align-last: center !important;
  border-bottom: 0 !important;
}
.center::after {
  display: none;
}

.container {
  max-width: 390px;
  box-sizing: content-box;
  overflow: hidden;
  margin: 0 auto;
}

.opacity0 {
  opacity: 0;
}

.select-text {
  text-align: center;
  margin-top: 19px;
  font-family: Play;
  font-weight: 700;
  color: var(--tg-theme-text-color);
  transition: all 0.5s;
  font-size: 20px;
  padding-bottom: 20px;
}
.select-text:hover {
  transition: all 0.5s;
  opacity: 0.5;
}

.select-wrapper {
  display: flex;
  flex-direction: column;
}
.select-wrapper .select-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.select-wrapper .select-flex span {
  cursor: pointer;
  width: 120px;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  color: var(--tg-theme-text-color);
}
@media (max-width: 360px) {
  .select-wrapper .select-flex span {
    width: 100px;
  }
}
.select-wrapper .select-flex span.skoro div {
  position: relative;
}
.select-wrapper .select-flex span.skoro div::after {
  content: "Скоро";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px;
  background: #E43548;
  font-weight: 800;
  border-radius: 0 0 20px 20px;
  text-align: center;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.select-wrapper .select-flex span img {
  height: 75px;
  width: 75px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 20px;
}
.select-wrapper .select-flex span .text {
  opacity: 0.9;
  margin-top: 2px;
  font-size: 12.04px;
  font-weight: 600;
  text-align: center;
  font-family: Karla;
}

.main-category {
  background: var(--tg-theme-secondary-bg-color);
}
.main-category .category_wrapper {
  color: var(--tg-theme-text-color);
  padding-bottom: 20px;
  text-align: center;
}
.main-category .category_wrapper .category_up {
  font-size: 11px;
  padding: 11px 0;
  font-family: Inter Tight;
  background: var(--tg-theme-bg-color);
  width: 100%;
  font-size: 19px;
  position: relative;
  display: flex;
  text-align: center;
  text-align: center;
}
.main-category .category_wrapper .category_up span {
  width: 80%;
  margin: 0 auto;
}
.main-category .category_wrapper .category_list {
  padding-top: 6px;
  padding-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: var(--tg-theme-bg-color);
  width: 92%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  margin: 15px auto 0 auto;
  border-radius: 8px;
}
.main-category .category_wrapper .category_list .category_list-item {
  position: relative;
  padding: 10px 0;
  border-bottom: 2px solid rgba(158, 158, 158, 0.5568627451);
  width: 100%;
  font-size: 14px;
  width: 80%;
  text-align: left;
  cursor: pointer;
  color: var(--tg-theme-text-color);
  font-family: Inter Tight;
  letter-spacing: 1px;
}
.main-category .category_wrapper .category_list .category_list-item::after {
  content: ">";
  width: 126px;
  height: 126px;
  max-width: 94px;
  position: absolute;
  font-family: serif;
  font-size: 25px;
  top: 5%;
  font-weight: 800;
  font-family: Anonymous Pro;
  right: -75px;
  max-height: 50px !important;
  box-sizing: border-box;
  overflow: hidden;
}

.category_wrapper {
  overflow-x: hidden;
}

.main-panel {
  display: none;
  width: 100%;
  opacity: 1;
  border-radius: 10px;
}
.main-panel:hover {
  opacity: 1;
  transition: all 0.3s;
}
.main-panel .main-panel__container {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 12.3px;
  font-family: Play;
}
.main-panel .main-panel__container .main-panel__wrapper {
  display: flex;
  justify-content: center;
  font-family: Play;
  flex-flow: row-reverse;
  padding: 10px;
  font-size: 12px;
}
.main-panel .main-panel__container .main-panel__wrapper .main-panel__wrapper__button {
  font-weight: 600;
  cursor: pointer;
  padding: 18px 76px;
  border-radius: 25px;
  font-family: Play;
}
.main-panel .main-panel__container .main-panel__wrapper .main-panel__wrapper__button.sub {
  align-items: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  font-size: 14px;
}
.main-panel .main-panel__container .main-panel__wrapper .main-panel__wrapper__button.eCatalog {
  font-size: 17.5px;
  color: var(--tg-theme-text-color);
}
.main-panel .main-panel__container .main-panel__wrapper .main-panel__wrapper__button.does {
  padding: 0 !important;
  background: none;
  width: 120%;
  align-items: center;
  align-self: center;
  margin: auto;
  font-size: 14px;
  display: none;
}
.main-panel .main-panel__container .main-panel__wrapper .main-panel__wrapper__button.let {
  background: #56B680;
}

.main-buy {
  max-width: 360px;
  margin: 0 auto;
}
.main-buy .main-buy__text {
  text-align: center;
  font-size: 18px;
  font-family: Play;
  font-weight: 600;
  color: var(--tg-theme-text-color);
}
.main-buy .main-buy__quest {
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.main-buy .main-buy__quest .main-buy__item {
  position: relative;
  cursor: pointer;
  color: var(--tg-theme-text-color);
  padding: 5px 10px 10px 0;
  font-family: ABeeZee;
  font-weight: 400;
  font-size: 16px;
  opacity: 0.7;
}
.main-buy .main-buy__quest .main-buy__item svg {
  fill: var(--tg-theme-text-color);
  position: absolute;
  width: 17px;
  height: 10px;
  right: 1px;
  transition: 0.5s all;
  transform: rotate(180deg);
  top: 25%;
  opacity: 0.4;
}
.main-buy .main-buy__quest .main-buy__item.prependItem .main-buy__item__title {
  max-width: 100%;
}
.main-buy .main-buy__quest .main-buy__item.prependItem svg {
  display: none;
}
.main-buy .main-buy__quest .main-buy__item:not(:last-child) {
  border-bottom: 1px solid var(--tg-theme-text-color);
}
.main-buy .main-buy__quest .main-buy__item.active {
  opacity: 1;
}
.main-buy .main-buy__quest .main-buy__item.active svg {
  transition: 0.5s all;
  opacity: 1;
  transform: rotate(0deg);
}
.main-buy .main-buy__quest .main-buy__item.active .main-buy__item__title {
  opacity: 1;
  color: var(--tg-theme-text-color);
}
.main-buy .main-buy__quest .main-buy__item.prependItem {
  opacity: 0.6;
  border: none;
}
.main-buy .main-buy__quest .main-buy__item .main-buy__item__title {
  max-width: 90%;
  position: relative;
  opacity: 0.7;
}
.main-buy .main-buy__quest .main-buy__item .main-buy__item__title.prepend {
  text-align: center;
  font-weight: 600;
  opacity: 0.7;
}
.main-buy .main-buy__quest .main-buy__item .main-buy__item__title.prepend::after {
  display: none;
}
.main-buy .main-buy__quest .main-buy__item .main-buy__item__descr {
  max-width: 90%;
  font-size: 13.4px;
  padding: 10px 0;
  font-family: ABeeZee;
  font-size: 16px;
  opacity: 1;
  margin: 10px 0;
}
.main-buy .main-buy__container {
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 13px;
  font-size: 14px;
  margin: 15px auto 16px auto;
}
.main-buy .main-buy__container .main-buy__text {
  padding-bottom: 10px;
}
.main-buy .main-buy__container .main-buy__button {
  padding: 20px 10px;
  border-radius: 24px;
  font-weight: 600;
  text-align: center;
  background: var(--tg-theme-secondary-bg-color);
  color: var(--tg-theme-text-color);
  font-family: Play;
  cursor: pointer;
  font-size: 15px;
  opacity: 0.9;
}
.main-buy .main-buy__container .main-buy__button.finish {
  background: #56B680;
  color: white;
}

.main-buy__item.otmenit {
  opacity: 0.8 !important;
}

#log {
  display: none;
}

input#check {
  align-self: center;
}

.warning {
  box-shadow: 1px 1px 13px #fb005f;
}

.main-pay {
  margin: 25px auto;
  background: var(--tg-theme-secondary-bg-color);
  padding: 20px 0;
}
.main-pay .main-pay__title {
  color: var(--tg-theme-text-color);
  text-align: center;
  padding-bottom: 21px;
  font-size: 26px;
  font-family: "Play";
}
.main-pay .main-pay__container {
  display: flex;
  flex-direction: column;
  gap: 0;
  width: 92%;
  margin: 0 auto;
}
.main-pay .main-pay__container .main-pay__button {
  background: #8FD14F;
  font-family: Play;
  cursor: pointer;
  padding: 20px 0;
  text-align: center;
}
.main-pay .main-pay__container .main-pay__blocktext {
  font-family: Play;
  color: var(--tg-theme-text-color);
  font-size: 15.5px;
  display: flex;
  justify-content: space-between;
  gap: 14px;
  width: 90%;
  margin: 0 auto;
  padding: 11px 0;
}
.main-pay .main-pay__container .main-pay__blocktext.one {
  border-bottom: 1px solid var(--tg-theme-text-color);
}
.main-pay .main-pay__container .main-pay__blocktext.itogo {
  font-weight: 800;
}
.main-pay .main-pay__container .main-pay__blocktext.two {
  flex-direction: column;
}
.main-pay .main-pay__container .main-pay__blocktext a {
  color: var(--tg-theme-text-color);
  text-decoration: underline;
  font-size: 12px;
}
.main-pay .main-pay__container .main-pay__blocktext input[type=text] {
  outline: none;
  background: var(--tg-theme-bg-color);
  height: 30px;
  border-radius: 5px;
  border: none;
  text-align: center;
  font-size: 12px;
}
.main-pay .main-pay__container .main-pay__blocktext input[type=text]::-moz-placeholder {
  font-size: 12px;
  text-align: center;
  background: var(--tg-theme-bg-color);
  font-family: Play;
  color: var(--tg-theme-text-color);
}
.main-pay .main-pay__container .main-pay__blocktext input[type=text]::placeholder {
  font-size: 12px;
  text-align: center;
  background: var(--tg-theme-bg-color);
  font-family: Play;
  color: var(--tg-theme-text-color);
}
.main-pay .main-pay__container .main-pay__blocktext .politic {
  display: flex;
  margin-top: 7px;
  font-size: 13px;
  gap: 20px;
}
.main-pay .main-pay__container .main-pay__blocktext .politic span.pol {
  display: flex;
  flex-direction: column;
  color: var(--tg-theme-text-color);
}

@keyframes ani {
  0% {
    transform: translateX(-150%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes two {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.1);
    transform: translateX(10);
  }
  70% {
    transform: scale(1);
    transform: translateX(5);
    transform: translateY(7);
  }
}
a, u {
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */