.arrow {
    width: 38px;
    height: 38px;
    position: fixed;
    // background: url("../../img/circle.png");
    // background-repeat: no-repeat;
    // background-size: cover;
    z-index: 2;
    right: 11%;
    cursor: pointer;
    bottom: 6%;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.21);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.21);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.21);
    // z-index: 2;
    /* box-sizing: border-box; */
    /* overflow: -webkit-paged-y; */
    border-radius: 100%;
    background: var(--tg-theme-secondary-bg-color);
    top: 74%;
    left: 79%;
    border: 1.75px solid var(--tg-theme-button-text-color);
    color: var(--tg-theme-button-text-color);
    @media(max-height: 500px) {
        top: 71%;
    }
    .arrow-arrow {
        position: absolute;
        object-fit: cover;
        path {
            fill: var(--tg-theme-button-text-color);
        }
        
        top: 18%;
        left: 21%;
        width: 60%;
        height: 70%;
    }
    .arrow-inner {
        width: 95%;
        height: 39%;
        background: rgb(254, 81, 111);
        border-radius: 45%;
        position: relative;
        left: 4%;
        top: -17%;
        box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.21);
        z-index: 0;
        font-size: 9px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
}